<div class="container">
    <div class="profile-header">
      <div class="profile-img">
        <img src="" width="200" alt="">
      </div>
      </div>

  <h1 class="title">Fakebook</h1>
  <div class="profile-nav card">
    <h2 class="user-name"> Welcome, {{name}}!</h2>
        <div class="info">
        <h3 class="header1">Account Info</h3>
          <label class="names">Name: {{name}}</label>
          <label class="member">Member Since: {{memberSince}}</label>
        <h3 class="basic-info">Basic Info</h3>
          <label class="gender">Gender: {{gender}}</label>
          <label class="city-state">Hometown:{{homeTown}}</label>
          <label class="birthday">Birthday: {{birthday}}</label>
        </div>
  </div>

    <div class="left-column card">
        <h3 class="bio">Bio:{{bio}}</h3>
    </div>

<div class="profile card">
    <div class="notification">
      <i class="fa fa-bell"></i>
      <span class="alert-message">5</span>
    </div>
    <div class="main">
        <div class="left-side">
            <p class="phone">
                <i class="fa fa-phone">
                </i>phone number: {{phone}}</p>
                <p class="email"><i class="fa fa-envelope">
                </i>email address: {{email}}</p>
        </div>
    </div>
</div>

  <div class="make-post">
    <button type="submit" class="btn btn-primary">Post</button>
  </div>
</div>

<script src="./js/profile.js"></script>