<div class="container">
  <div class="profile-header">
    <div class="profile-img">
      <img src="{{profile_picture}}" width="200" alt="">
    </div>
    
  </div>

  <div class="center profile-nav card">
    <h2 class="user-name"> Welcome, {{user_name}}!</h2>
    <div class="info">
      {{!-- <label class="member">Member Since: {{memberSince}}</label> --}}
      <h3 class="basic-info">About Me:</h3>
      {{!-- <label class="gender">Gender: {{gender}}</label> --}}
      <label class="city-state">Hometown:{{hometown}}</label>
      {{!-- <label class="birthday">Birthday: {{birthday}}</label> --}}
      {{!-- <label class="bio">About : {{birthday}}</label> --}}
      <div class="left-side">
        <p class="email"><i class="fa fa-envelope">
          </i>email: {{email}}</p>
      </div>
    </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="all-users">All users</button>
        </div>
      </div>
<br>
<br>
<br>
          <h3>Create a New Post:</h3>

          <form class="form new-post-form">
            <div class="form-group">
              <label for="project-desc">What's on your mind...:</label>
              <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Post</button>
            </div>
          </form>
          
        </div>
        
  </div>
    
<div>


  
</div>
{{#if posts.length}}
<div class="col-md-8 post-list">
  <h3>Recent Posts:</h3>
  {{#each posts as |post|}}
  <p>------------------------------------------------------------------------------------------------------</p>
    <div class="row mb-2">
        <div class="col-md-12">
          <h4>{{post.post_content}}</h4>

          <div class="col-md-4">
            <button class="btn btn-sm btn-danger delete-button" onclick="delPostButtonHandler({{post.post_id}})" data-id="{{post.post_id}}">DELETE P</button>
          </div>

        </div>
        <form class="form new-comment-form">
          <div class="form-group">
            <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Comment</button>
          </div>
        </form>
        {{#if comments.length}}
            <div class="col-md-8 post-list">
              {{#each comments as |comment|}}
            
            
              <div class="row mb-3">
                <div class="col-md-8">
                  <h6>{{comment_content}}</h6>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-sm btn-danger delete-button" onclick="delCommentButtonHandler({{comment.comment_id}})"  data-id="{{comment.comment_id}}">Delete C</button>
                </div>
              </div>
              {{/each}}

            </div>
        {{/if}}

</div>

</div>
{{/each}}
</div>
{{/if}}
</div>
</div>
    </div>

<div class="friends">

        {{#if followings.length}}
            <div class="col-md-8 post-list">
              <h4>Your fake friends:</h4>
              {{#each followings as |following|}}
            
            
                <div class="row mb-3">
                  <div class="col-md-8">
                    <h6><a href="/users/{{followee_id}}">Friend #{{followee_id}}</a></h6>
                  </div>
                </div>

              {{/each}}
            </div>
        {{/if}}


<script src="../js/friends.js"></script>
<script src="../js/post.js"></script>