{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3></h3>  --}}
{{!-- <form class="form new-project-form"> --}}
      
      
      <div class="container">
        <div class="profile-header">
          <div class="profile-img">
            <img src="" width="200" alt="">
          </div>
      <div class="profile-nav">
            <h2 class="user-name"> Welcome, {{name}}!</h2>
            <div class="basic-info">
              <p class="gender">{{gender}}</p>
              <p class="city-state">{{citystate}}</p>
              <p class="birthday">{{birthday}}</p>
            </div>
      </div>
      <div class="profile">
        <div class="notification">
          <i class="fa fa-bell"></i>
          <span class="alert-message">{{alert}}</span>
        </div>
        </div>
        </div>

        {{!-- <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="user-desc">description:</label>
        <textarea class="form-input" id="user-desc" name="user-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div> --}}
    {{!-- </form> --}}
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
