   {{!-- <div class="container">
        <div class="profile-header">
          <div class="profile-img">
            <img src="" width="200" alt="">
          </div>
      <div class="profile-nav">
            <h2 class="user-name"> Welcome, {{name}}!</h2>
            <div class="basic-info">
              <p class="gender">{{gender}}</p>
              <p class="city-state">{{citystate}}</p>
              <p class="birthday">{{birthday}}</p>
              <p class="bio">{{bio}}</p>
          
            </div>
      </div>
      <div class="profile">
        <div class="notification">
          <i class="fa fa-bell"></i>
          <span class="alert-message">{{alert}}</span>
        </div>
      <div class="make-post">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </div> --}}